<?xml version="1.0"?>
<launch>
  <node name="video_parser_node" pkg="lane_detection" type="video_parser" >
    <param name="is_from_camera" value="false"/>
    <param name="camera_id" value="0"/>  
    <param name="video_filename" value="$(find lane_detection)/data/motionplaces0043-c027-q001.mp4"/>
    <param name="output_img_topic" value="/img"/>
    <param name="is_stereo_img" value="false"/>
  </node>

  <node name="lane_detector_node" pkg="lane_detection" type="lane_detector" >
    <param name="input_img_topic" value="/img"/>
    <param name="output_img_topic" value="/img_with_lanes"/>
    <param name="working_img_topic" value="/img_wip"/>

    <rosparam param="gauss_blur_size"> [5, 5]</rosparam>
    <param name="gauss_blur_sigmaX" value="0.0"/>
    <param name="canny_threshold1" value="80.0"/>
    <param name="canny_threshold2" value="80.0"/>
    <rosparam param="roi_btm_left_ratio"> [0.05, 0.9]</rosparam>
    <rosparam param="roi_top_ratio"> [0.65, 0.6]</rosparam>
    <rosparam param="roi_btm_right_ratio"> [0.8, 0.9]</rosparam>
  </node>
</launch>